{% extends 'base.html' %}

{% block content %}
<h1>My Wishlist</h1>

{% if items %}
<div class="row">
    {% for item in items %}
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="{{ item.product.image.url }}"
                 class="card-img-top"
                 style="height: 220px; object-fit: cover;"
                 alt="{{ item.product.name }}">

            <div class="card-body">
                <h5>{{ item.product.name }}</h5>
                <p class="text-success fw-bold">₹{{ item.product.price }}</p>

                <a href="{% url 'product_detail' item.product.slug %}"
                   class="btn btn-primary btn-sm">
                    View
                </a>

                <a href="{% url 'remove_from_wishlist' item.id %}"
                   class="btn btn-danger btn-sm">
                    Remove
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Your wishlist is empty.</p>
{% endif %}
{% endblock %}